@use '../../scss/variables' as *;

.section-newsletter {

  &__inner {
    padding: 100px 0;

    @include respond-to(xs) {
      padding: 50px 0;
    }
  }

  &__container {}

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to(xs) {
      flex-wrap: wrap;
    }
  }

  &__left {
    flex: 0 0 49%;
    max-width: 49%;

    @include respond-to(xs) {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 32px;
    }
  }

  &__right {
    flex: 0 0 49%;
    max-width: 49%;

    @include respond-to(xs) {
      flex: 0 0 100%;
      max-width: 100%;
    }


  }

  .newsletter {

    &__title-wrap {}

    &__title {
      font-family: $Roboto;
      font-size: $fs-48;
      color: $dark;
      font-weight: 700;
      letter-spacing: 0.04em;

    }

    &__description {
      font-size: $fs-15;
      color: $darkblue;
      letter-spacing: 0.05em;
    }
  }

  .subscribe {

    .form {

      &__control {}

      &__part {
        position: relative;
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__input {
        background: $dark;
        padding: 16px 28px;
        width: 100%;
        border: 2px solid transparent;
        color: $white;
        font-weight: 500;

        &:focus {
          outline: none;
          //border: transparent;
        }

        &:-webkit-autofill  {
          background-color: $dark !important;
        }

        &::placeholder {
          color: $lightblue;
          font-size: $fs-15;
          letter-spacing: 0.05em;
        }

        &--invalid {
          border: 2px solid #FD5C6F;
          color: #FD5C6F;
          //padding: 11px 15px;

          &::placeholder {
            color: #FD5C6F;
          }

          &:-ms-input-placeholder {
            color: #FD5C6F;
          }

          &::-ms-input-placeholder {
            color: #FD5C6F;
          }
        }
      }
    }


    &__btn {
      width: 100%;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}


.error {
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  color: #fd5c6f;
  left: 10px;
  position: absolute;
}
